Source: legion
Section: misc
Priority: optional
Maintainer: Hackman238 <sscott@shanewilliamscott.com>
Uploaders: Shane Scott <sscott@shanewilliamscott.com>
Build-Depends: debhelper, python3, python3-requests
Standards-Version: 0.4.7
Homepage: https://github.com/Hackman238/Legion

Package: legion
Architecture: all
Depends: ${misc:Depends},
         python3,
         nmap,
         finger,
         hydra,
         nikto,
         nbtscan,
         nfs-common,
         rpcbind,
         smbclient,
         sra-toolkit
         ldap-utils,
         sslscan,
         rwho,
         rsh-client,
         x11-apps,
         featherpad,
         xvfb,
         imagemagick,
         eog,
         hping3,
         sqlmap,
         wapiti,
         libqt5core5a,
         python3-pip,
         ruby,
         perl,
         urlscan,
         git,
         xsltproc,
         python3-impacket,
         whatweb,
         medusa,
         eyewitness,
         xvfb,
         firefox-esr
